<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Добавить пользователя</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<form method="post" id="authForm">
		<input type="text" id="name" name="name" placeholder="Введите имя" required>
		<input type="password" id="password" name="password" placeholder="Введите пароль" required>
		<input type="email" id="gmail" name="gmail" placeholder="Введите почту" required>
		<button type="submit">Добавить</button>
	</form>

<script src="/js/authScript.js"></script>
</body>
</html>