<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Домашняя страница</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<form th:action="@{/saveUser}" method="post">
		<button type="submit">Добавить</button>
	</form>
	<form th:action="@{/deleteUser}" method="post">
		<input type="text" id="id" name="id" placeholder="Введите айди" required>
		<button type="submit">Удалить</button>
	</form>
	<form method="post" onsubmit="redirectToUpdate(event)">
		<input type="text" id="updateId" name="id" placeholder="Введите ID" required>
		<input type="text" id="name" name="name" placeholder="Введите имя" required>
		<input type="text" id="password" name="password" placeholder="Введите пароль" required>
		<button type="submit">Изменить</button>
	</form>
	<form th:action="@{/findAllUsers}" method="post">
		<button type="submit">Найти</button>
	</form>

<script src="/js/updateForm.js"></script>
</body>
</html>